# Question 1:
Assuming that we have some email addresses in the "username@companyname.com" format, please write program
to print the company name of a given email address. Both user names and company names are composed of letters
only.
Input Format:
The first line of the input contains an email address.
Output Format:
Print the company name in single line.
Example;
Input:
john@google.com
Output:
google

In [1]:
def extract_company(email):
    index_of_at = email.find('@')

    return email[index_of_at+1:email.rfind('.')]
e1=str(input("enter the email"))
res=extract_company(e1)
print("comapny is",res)

enter the emailjohn@facebook.com
comapny is facebook

# Question 2:
Write a program that accepts a comma-separated sequence of words as input and prints the words in a comma
separated sequence after sorting them alphabetically.
Input Format:
The first line of input contains words separated by the comma.
Output Format:
Print the sorted words separated by the comma.
Example:
Input:
without,hello,bag,world
Output:
bag,hello,without,world

In [2]:
items=[x for x in input("enter data to sort").split(',')]
items.sort()
print ("Sorted data are ",','.join(items))

enter data to sortaditya,ravi,kiran,prakash,surya,ujjwal,akshay
Sorted data are  aditya,akshay,kiran,prakash,ravi,surya,ujjwal

# Question 3:
Create your own Jupyter Notebook for Sets.
Reference link: https://www.w3schools.com/python/python_sets.asp

In [3]:
thisset = {"peach", "avacado", "kiwi"}
print(thisset)

{'kiwi', 'peach', 'avacado'}

# Access Items
You cannot access items in a set by referring to an index, since sets are unordered the items has no index.

But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.

In [4]:
thisset = {"johny walker", "black dog", "baccardi"}

for x in thisset:
  print(x)

johny walker
black dog
baccardi

# Change Items
Once a set is created, you cannot change its items, but you can add new items.

# Add Items
To add one item to a set use the add() method.
To add more than one item to a set use the update() method.

In [5]:
thisset = {"mercedes", "ford", "bugatti"}

thisset.add("shelby")

print(thisset)

{'shelby', 'bugatti', 'ford', 'mercedes'}

In [6]:
thisset = {"mercedes", "bugatti", "ford"}

thisset.update(["shelby", "volkswagon", "chevorlet"])

print(thisset)

{'volkswagon', 'bugatti', 'shelby', 'ford', 'mercedes', 'chevorlet'}

# Get the Length of a Set
To determine how many items a set has, use the len() method.

In [7]:
thisset = {"everest", "kilminjaro", "andes"}

print(len(thisset))

3

# Remove Item
To remove an item in a set, use the remove(), or the discard() method.

In [8]:
thisset = {"einstien", "tesla", "wordsworth"}

thisset.remove("wordsworth")

print(thisset)

{'tesla', 'einstien'}

In [9]:
thisset = {"einstien", "tesla", "wordsworth"}

thisset.discard("wordsworth")

print(thisset)

{'tesla', 'einstien'}

# pop()
You can also use the pop(), method to remove an item, but this method will remove the last item. Remember that sets are unordered, so you will not know what item that gets removed.

The return value of the pop() method is the removed item.

In [10]:
thisset = {"kannada", "telugu", "tamil"}

x = thisset.pop()

print(x)

print(thisset)

tamil
{'telugu', 'kannada'}

# clear()
The clear() method empties the set:

In [11]:
thisset = {"ravan", "kamsa", "duryodhan"}

thisset.clear()

print(thisset)

set()

The del keyword will delete the set completely:

In [12]:
thisset = {"dushman", "vairi", "shatru"}

del thisset

print(thisset)

NameError: name 'thisset' is not defined

# Join Two Sets
There are several ways to join two or more sets in Python.

You can use the union() method that returns a new set containing all items from both sets, or the update() method that inserts all the items from one set into another:

In [14]:
set1 = {"commando", "housefull" , "golmaal"}
set2 = {"evil dead", "the wolf of the wall street","the conjuring" }

set3 = set1.union(set2)
print(set3)

{'commando', 'golmaal', 'evil dead', 'the conjuring', 'the wolf of the wall street', 'housefull'}

In [15]:
set1 = {"aye", "basanti" , "chandni"}
set2 = {1, 2, 3}
set1.update(set2)
print(set1)

{'chandni', 1, 2, 3, 'basanti', 'aye'}

# The set() Constructor
It is also possible to use the set() constructor to make a set.

In [16]:
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'apple', 'banana', 'cherry'}

# copy() Method

In [17]:
watches = {"titan", "zoop", "apple"}
x = watches.copy()
print(x)

{'apple', 'titan', 'zoop'}

# Set difference_update() Method

In [18]:
x = {"apple", "rasberry", "ultratech"}
y = {"rasberry", "dremmel", "bosch"}
x.difference_update(y)
print(x)

{'apple', 'ultratech'}

# intersection() Method

In [20]:
x = {"apple", "butterfruit", "cranberry"}
y = {"sugar bear", "apple", "raspberry pi"}
z = x.intersection(y)
print(z)

{'apple'}

# sdisjoint() Method

In [21]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "facebook"}
z = x.isdisjoint(y)
print(z)

True

# symmetric_difference()

In [22]:
x = {"apple", "banana", "cherry"}
y = {"cisco", "bosch", "apple"}
z = x.symmetric_difference(y)
print(z)

{'cherry', 'bosch', 'banana', 'cisco'}

# Question 4:
Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates.
Input Format:
The first line contains n-1 numbers with each number separated by a space.
Output Format:
Print the missing number
Example:
Input:1 2 4 6 3 7 8
Output:5
Explanation:
In the above list of numbers 5 is missing and hence 5 is the input

In [24]:
def find_missing(lst): 
    return [x for x in range(lst[0], lst[-1]+1)  
                               if x not in lst] 
  
# Driver code 
lst = [11, 20, 24, 26, 27, 29, 30] 
print(find_missing(lst))

[12, 13, 14, 15, 16, 17, 18, 19, 21, 22, 23, 25, 28]

# Question 5:
With a given list L, write a program to print this list L after removing all duplicate values with original order reserved.
Example:
If the input list is
12 24 35 24 88 120 155 88 120 155
Then the output should be
12 24 35 88 120 155
Explanation:
Third, seventh and ninth element of the list L has been removed because it was already present.
Input Format:
In one line take the elements of the list L with each element separated by a space.
Output Format:
Print the elements of the modified list in one line with each element separated by a space.
Example:
Input: 12 24 35 24
Output:
12 24 35

In [25]:
def Remove(duplicate): 
    final_list = [] 
    for num in duplicate: 
        if num not in final_list: 
            final_list.append(num) 
    return final_list 
      
# Driver Code
duplicate = [2, 4, 10, 20, 5, 2, 20, 4] 
print(duplicate) 
print(Remove(duplicate))

[2, 4, 10, 20, 5, 2, 20, 4]
[2, 4, 10, 20, 5]