In [1]:
import pandas as pd
from sklearn import preprocessing
dataset=pd.read_csv("C:\\Users\\DVM\Desktop\\ai-ml\\day 21 regression\\train.csv")
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
dataset.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [2]:
l=preprocessing.LabelEncoder()

In [3]:
l.fit(dataset["Sex"])

LabelEncoder()

In [4]:
print(l.classes_)

['female' 'male']

In [5]:
dataset["Sex"]=l.transform(dataset["Sex"])

In [6]:
l.fit(dataset["Embarked"])

LabelEncoder()

In [7]:
print(l.classes_)

['C' 'Q' 'S']

In [8]:
dataset["Embarked"]=l.transform(dataset["Embarked"])
y=dataset["Embarked"]
x=dataset.drop(["Embarked","PassengerId","Name","Cabin","Ticket"],axis=1)
y.count()

889

In [9]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.3,random_state=0)
x_train.head()

     Survived  Pclass  Sex   Age  SibSp  Parch     Fare
350         0       1    1  45.0      0      0  35.0000
124         1       3    1  12.0      1      0  11.2417
577         0       3    0  45.0      1      0  14.4583
422         0       3    0  28.0      1      1  14.4000
118         0       3    0   2.0      4      2  31.2750

In [13]:
from sklearn.naive_bayes import*
c=BernoulliNB()
y_pred=c.fit(x_train,y_train).predict(x_test)
acc=accuracy_score(y_test,y_pred,normalize=True)
print(acc)
print( "accuracy = ",acc*100 ,"%")

0.7340823970037453
accuracy =  73.40823970037454 %

In [14]:
confusion_matrix(y_test,y_pred)

array([[  0,   0,  49],
       [  0,   0,  22],
       [  0,   0, 196]], dtype=int64)

In [16]:
y=dataset["Parch"]
x=dataset.drop(["Parch","PassengerId","Name","Cabin","Ticket"],axis=1)
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.3,random_state=0)
x_train.head()

     Survived  Pclass  Sex   Age  SibSp     Fare  Embarked
350         0       1    1  45.0      0  35.0000         2
124         1       3    1  12.0      1  11.2417         0
577         0       3    0  45.0      1  14.4583         0
422         0       3    0  28.0      1  14.4000         2
118         0       3    0   2.0      4  31.2750         2

In [18]:
c=BernoulliNB()
y_pred=c.fit(x_train,y_train).predict(x_test)
acc=accuracy_score(y_test,y_pred,normalize=True)
print(acc)
print( "accuracy = ",acc*100 ,"%")

0.7153558052434457
accuracy =  71.53558052434457 %

In [19]:
confusion_matrix(y_test,y_pred)

array([[182,  16,   0,   0,   0],
       [ 31,   9,   0,   0,   0],
       [ 24,   3,   0,   0,   0],
       [  1,   0,   0,   0,   0],
       [  1,   0,   0,   0,   0]], dtype=int64)

In [20]:
y=dataset["Pclass"]
x=dataset.drop(["Pclass","PassengerId","Name","Cabin","Ticket"],axis=1)
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.3,random_state=0)
x_train.head()

     Survived  Sex   Age  SibSp  Parch     Fare  Embarked
350         0    1  45.0      0      0  35.0000         2
124         1    1  12.0      1      0  11.2417         0
577         0    0  45.0      1      0  14.4583         0
422         0    0  28.0      1      1  14.4000         2
118         0    0   2.0      4      2  31.2750         2

In [21]:
c=BernoulliNB()
y_pred=c.fit(x_train,y_train).predict(x_test)
acc=accuracy_score(y_test,y_pred,normalize=True)
print(acc)
print( "accuracy = ",acc*100 ,"%")

0.5917602996254682
accuracy =  59.176029962546814 %

In [22]:
confusion_matrix(y_test,y_pred)

array([[ 30,   8,  32],
       [  9,  10,  30],
       [ 24,   6, 118]], dtype=int64)

In [23]:
y=dataset["Sex"]
x=dataset.drop(["Sex","PassengerId","Name","Cabin","Ticket"],axis=1)
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.3,random_state=0)
x_train.head()

     Survived  Pclass   Age  SibSp  Parch     Fare  Embarked
350         0       1  45.0      0      0  35.0000         2
124         1       3  12.0      1      0  11.2417         0
577         0       3  45.0      1      0  14.4583         0
422         0       3  28.0      1      1  14.4000         2
118         0       3   2.0      4      2  31.2750         2

In [25]:
c=BernoulliNB()
y_pred=c.fit(x_train,y_train).predict(x_test)
acc=accuracy_score(y_test,y_pred,normalize=True)
print(acc)
print( "accuracy = ",acc*100 ,"%")

0.7453183520599251
accuracy =  74.53183520599251 %

In [26]:
confusion_matrix(y_test,y_pred)

array([[ 49,  49],
       [ 19, 150]], dtype=int64)

In [27]:
y=dataset["SibSp"]
x=dataset.drop(["SibSp","PassengerId","Name","Cabin","Ticket"],axis=1)
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.3,random_state=0)
x_train.head()

     Survived  Pclass  Sex   Age  Parch     Fare  Embarked
350         0       1    1  45.0      0  35.0000         2
124         1       3    1  12.0      0  11.2417         0
577         0       3    0  45.0      0  14.4583         0
422         0       3    0  28.0      1  14.4000         2
118         0       3    0   2.0      2  31.2750         2

In [28]:
from sklearn.naive_bayes import*
c=BernoulliNB()
y_pred=c.fit(x_train,y_train).predict(x_test)
acc=accuracy_score(y_test,y_pred,normalize=True)
print(acc)
print( "accuracy = ",acc*100 ,"%")

0.6891385767790262
accuracy =  68.91385767790263 %

In [29]:
confusion_matrix(y_test,y_pred)

array([[162,  20,   0,   0,   0,   0,   0],
       [ 43,  22,   0,   0,   0,   0,   0],
       [  6,   2,   0,   0,   0,   0,   0],
       [  5,   2,   0,   0,   0,   0,   0],
       [  2,   0,   0,   0,   0,   0,   0],
       [  1,   0,   0,   0,   0,   0,   0],
       [  2,   0,   0,   0,   0,   0,   0]], dtype=int64)