In [1]:
import pandas as pd
import numpy as np
from sklearn import preprocessing 
from sklearn import tree
import sklearn as sk

In [2]:
from sklearn.ensemble import RandomForestClassifier

In [3]:
dataset=pd.read_csv("C:\\Users\\DVM\\Desktop\\ai-ml\\day 21 regression\\Bank_Personal_Loan_Modelling.csv")
dataset.head()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1

In [4]:
dataset.columns

Index(['ID', 'Age', 'Experience', 'Income', 'ZIP Code', 'Family', 'CCAvg',
       'Education', 'Mortgage', 'Personal Loan', 'Securities Account',
       'CD Account', 'Online', 'CreditCard'],
      dtype='object')

In [5]:
dataset.isnull().any()

ID                    False
Age                   False
Experience            False
Income                False
ZIP Code              False
Family                False
CCAvg                 False
Education             False
Mortgage              False
Personal Loan         False
Securities Account    False
CD Account            False
Online                False
CreditCard            False
dtype: bool

In [6]:
rf_model=RandomForestClassifier(n_estimators=1000,max_features=2,oob_score=True)

In [7]:
features=["Age","Experience","Income","Family","CCAvg","Education","Mortgage","Securities Account","CD Account","Online","CreditCard"]

In [8]:
rf_model.fit(X=dataset[features],y=dataset["Personal Loan"])

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features=2, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=1000,
                       n_jobs=None, oob_score=True, random_state=None,
                       verbose=0, warm_start=False)

In [9]:
print("oob accuracy")
print(rf_model.oob_score_);

oob accuracy
0.9874

In [11]:
for feature,imp in zip(features,rf_model.feature_importances_):
    print(feature,imp);

Age 0.04482490860280492
Experience 0.044282149996212536
Income 0.34222263475666226
Family 0.0974948397128177
CCAvg 0.18236430225220107
Education 0.16576390177443187
Mortgage 0.04375090471001843
Securities Account 0.0054294589390638855
CD Account 0.055283737669929556
Online 0.008439414494296135
CreditCard 0.010143747091561742

We can choose Independent variable to be - "ccavg","education","income" as their values are comparitively higher.

In [19]:
predictors=pd.DataFrame([dataset["CCAvg"],dataset["Education"],dataset["Income"]]).T

In [25]:
tree_model=tree.DecisionTreeClassifier(max_depth=6)
tree_model.fit(X=predictors,y=dataset["Personal Loan"])

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=6,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [26]:
with open("Dtree5.dot",'w') as f:
    f=tree.export_graphviz(tree_model,feature_names=["CCAvg","Education","Income"],out_file=f);

In [27]:
tree_model.score(X=predictors,y=dataset["Personal Loan"])

0.9738