In [1]:
import pandas as pd
import numpy as np
from sklearn import preprocessing 
from sklearn import tree
import sklearn as sk

In [5]:
from sklearn.ensemble import RandomForestClassifier

In [6]:
dataset=pd.read_csv("C:\\Users\\DVM\\Desktop\\ai-ml\\day 21 regression\\general_data.csv")
dataset.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [8]:
dataset.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'EmployeeCount', 'EmployeeID', 'Gender',
       'JobLevel', 'JobRole', 'MaritalStatus', 'MonthlyIncome',
       'NumCompaniesWorked', 'Over18', 'PercentSalaryHike', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'YearsAtCompany', 'YearsSinceLastPromotion', 'YearsWithCurrManager'],
      dtype='object')

In [19]:
le=preprocessing.LabelEncoder()
dataset["Department"]=le.fit_transform(dataset["Department"])
dataset["BusinessTravel"]=le.fit_transform(dataset["BusinessTravel"])
dataset["Attrition"]=le.fit_transform(dataset["Attrition"])
dataset["EducationField"]=le.fit_transform(dataset["EducationField"])
dataset["Gender"]=le.fit_transform(dataset["Gender"])
dataset["Over18"]=le.fit_transform(dataset["Over18"])
dataset["JobRole"]=le.fit_transform(dataset["JobRole"])
dataset["MaritalStatus"]=le.fit_transform(dataset["MaritalStatus"])
dataset.isnull().any()
dataset = dataset.fillna(method='ffill')

In [20]:
rf_model=RandomForestClassifier(n_estimators=1000,max_features=2,oob_score=True)

In [21]:
features=["Age","BusinessTravel","Department","DistanceFromHome","Education","EducationField","Gender","JobLevel","JobRole","MaritalStatus","MonthlyIncome","NumCompaniesWorked","PercentSalaryHike","StockOptionLevel","TotalWorkingYears","TrainingTimesLastYear","YearsAtCompany","YearsSinceLastPromotion","YearsWithCurrManager"]

In [22]:
rf_model.fit(X=dataset[features],y=dataset["Attrition"])

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features=2, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=1000,
                       n_jobs=None, oob_score=True, random_state=None,
                       verbose=0, warm_start=False)

In [23]:
print("oob accuracy")
print(rf_model.oob_score_);

oob accuracy
0.9997732426303855

In [24]:
for feature,imp in zip(features,rf_model.feature_importances_):
    print(feature,imp);

Age 0.09697441186922783
BusinessTravel 0.028412483893460176
Department 0.026685196077148962
DistanceFromHome 0.06977855509190899
Education 0.04095078648726577
EducationField 0.041281450339506656
Gender 0.018760491857947363
JobLevel 0.03755276078800773
JobRole 0.05546139121999855
MaritalStatus 0.040010631801807646
MonthlyIncome 0.0943993214073542
NumCompaniesWorked 0.055110155996656585
PercentSalaryHike 0.06575995208761555
StockOptionLevel 0.034077167184461916
TotalWorkingYears 0.08607484534026258
TrainingTimesLastYear 0.04425631057942224
YearsAtCompany 0.06786605698220123
YearsSinceLastPromotion 0.04303143426432403
YearsWithCurrManager 0.05355659673142194

We can choose Independent variable to be - "Age","MonthlyIncome","TotalWorkingYears" as their values are comparitively higher.

In [25]:
predictors=pd.DataFrame([dataset["Age"],dataset["MonthlyIncome"],dataset["TotalWorkingYears"]]).T

In [26]:
tree_model=tree.DecisionTreeClassifier(max_depth=6)
tree_model.fit(X=predictors,y=dataset["Attrition"])

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=6,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [29]:
with open("Dtree3.dot",'w') as f:
    f=tree.export_graphviz(tree_model,feature_names=["MonthlyIncome","Age","TotalWorkingYears"],out_file=f);

In [30]:
tree_model.score(X=predictors,y=dataset["Attrition"])

0.863718820861678