In [2]:
import pandas as pd

In [3]:
dataset=pd.read_excel("C:\\Users\\DVM\\Desktop\\ai-ml\\day 21 regression\\Bank_Personal_Loan_Modelling.xlsx",sheet_name=1)
dataset.head()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personalloan,SecuritiesAccount,CDAccount,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 14 columns):
ID                   5000 non-null int64
Age                  5000 non-null int64
Experience           5000 non-null int64
Income               5000 non-null int64
ZIP Code             5000 non-null int64
Family               5000 non-null int64
CCAvg                5000 non-null float64
Education            5000 non-null int64
Mortgage             5000 non-null int64
Personalloan         5000 non-null int64
SecuritiesAccount    5000 non-null int64
CDAccount            5000 non-null int64
Online               5000 non-null int64
CreditCard           5000 non-null int64
dtypes: float64(1), int64(13)
memory usage: 547.0 KB

In [5]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
dataset["CCAvg"]=le.fit_transform(dataset["CCAvg"])

In [28]:
dataset.head()
dataset.le
dataset.isnull().any()

ID                   False
Age                  False
Experience           False
Income               False
ZIP Code             False
Family               False
CCAvg                False
Education            False
Mortgage             False
Personalloan         False
SecuritiesAccount    False
CDAccount            False
Online               False
CreditCard           False
dtype: bool

In [21]:
import statsmodels.api as sm

In [22]:
Y=dataset.Personalloan

In [23]:
X=dataset[['Age','Experience','Income','Family','CCAvg','Education','Mortgage','SecuritiesAccount','CDAccount','Online','CreditCard']]

In [24]:
X1= sm.add_constant(X)

In [25]:
logistic=sm.Logit(Y,X1)

In [26]:
result=logistic.fit()

Optimization terminated successfully.
         Current function value: 0.128111
         Iterations 9

In [27]:
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:           Personalloan   No. Observations:                 5000
Model:                          Logit   Df Residuals:                     4988
Method:                           MLE   Df Model:                           11
Date:                Sat, 08 Aug 2020   Pseudo R-squ.:                  0.5948
Time:                        12:12:36   Log-Likelihood:                -640.56
converged:                       True   LL-Null:                       -1581.0
                                        LLR p-value:                     0.000
=====================================================================================
                        coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------------
const               -12.2350      1.644     -7.443      0.000     -15.457      -9.013
Age                  -0.0534      0.061     -0.872      0.383      -0.173       0.067
Experience            0.0640      0.061      1.051      0.293      -0.055       0.183
Income                0.0542      0.003     20.714      0.000       0.049       0.059
Family                0.6963      0.074      9.362      0.000       0.551       0.842
CCAvg                 0.0114      0.003      3.602      0.000       0.005       0.018
Education             1.7437      0.115     15.105      0.000       1.517       1.970
Mortgage              0.0005      0.001      0.902      0.367      -0.001       0.002
SecuritiesAccount    -0.9394      0.286     -3.282      0.001      -1.500      -0.378
CDAccount             3.8189      0.324     11.777      0.000       3.183       4.454
Online               -0.6785      0.157     -4.314      0.000      -0.987      -0.370
CreditCard           -1.1188      0.205     -5.455      0.000      -1.521      -0.717
=====================================================================================
"""

# inference
# most significant attributes for getting loan
cd account
online
credit card
income
family
cc avg
education
# less significant
experience
mortgage
securitiesAccount
# not significant
id
ZIP code